name: URL Check

on:
  push:
    paths:
      - 'README.md'
    branches:
      - main
  schedule:
    - cron: '00 7 * * 1'

jobs:
  check-urls:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: urlstechie/urlchecker-action@master
      with:
        file_types: .md
        retry_count: 3
        timeout: 120
